
      <h5 class="mb-4">Users</h5>
      <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scope="col">Active</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i=index" (click)="toUser(user)">
          <th scope="row">{{i+1}}</th>
          <td>{{user?.email}}</td>
          <td>{{user?.role}}</td>
          <td>{{user?.active}}</td>
        </tr>
        
      </tbody> 
      </table>

      <button (click)="addU()">Add</button>


      
      
